# Tratarea fișierelor binare
*.png binary
*.jpg binary
*.jpeg binary
*.ico binary
*.gif binary
*.zip binary
*.mp4 binary
*.avi binary
*.mov binary
*.flv binary
*.wmv binary
*.tiff binary

# Tratarea fișierelor text
*.md text eol=lf
*.js text eol=lf
*.jsx text eol=lf
*.ts text eol=lf
*.tsx text eol=lf
*.json text eol=lf
*.css text eol=lf
*.scss text eol=lf
*.html text eol=lf

# Ignorarea diferențelor pentru package-lock.json și yarn.lock
package-lock.json -diff
yarn.lock -diff
