rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // Permitem accesul la colecția events pentru citire de către toți utilizatorii
    match /events/{eventId} {
      allow read: if true;
      // Permitem scrierea pentru toți utilizatorii autentificați (temporar pentru testare)
      allow write: if request.auth != null;
    }
    
    // Permitem accesul la colecția products pentru citire de către toți utilizatorii
    // Permitem scrierea doar pentru utilizatorii autentificați
    match /products/{productId} {
      allow read: if true;
      allow write: if request.auth != null;
    }
    
    // Permitem accesul la colecția admins pentru utilizatorii autentificați (temporar pentru testare)
    match /admins/{document=**} {
      allow read, write: if request.auth != null;
    }
    
    // Permitem accesul la colecția users pentru utilizatorii proprii
    match /users/{userId} {
      allow read: if request.auth != null && request.auth.uid == userId;
      allow write: if request.auth != null && request.auth.uid == userId;
    }
  }
}