rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // Restricționez accesul la colecția events
    match /events/{eventId} {
      allow read: if request.auth != null; // Doar utilizatorii autentificați pot citi
      allow write: if request.auth != null && request.auth.token.admin == true; // Doar adminii pot scrie
    }

    // Restricționez accesul la colecția products
    match /products/{productId} {
      allow read: if request.auth != null; // Doar utilizatorii autentificați pot citi
      allow write: if request.auth != null && request.auth.token.admin == true; // Doar adminii pot scrie
    }

    // Restricționez accesul la colecția users
    match /users/{userId} {
      allow read, write: if request.auth != null && request.auth.uid == userId; // Utilizatorii pot accesa doar propriile date
    }

    // Restricționez accesul la colecția articles
    match /articles/{articleId} {
      allow read: if request.auth != null; // Doar utilizatorii autentificați pot citi
      allow write: if request.auth.token.admin == true; // Doar adminii pot scrie
    }
  }
}